[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Ryan Curtin
	email = rcurtin88@gmail.com
[alias]
  a = add
  co = checkout
  b = branch --color --verbose
  cp = cherry-pick
  s = status
  l = log --pretty=oneline -n 20 --graph --color
[color "branch"]
  current = magenta
  local = cyan
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold


[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	editor = subl -n -w
